@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
    display: inline-block;
    background-color: #0E0C0A;
    justify-content: center;
    height: auto;
    position: relative;
    top: 7rem;
    background: url(img/k.png) repeat;
}


/* ------------- Header ------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    color: #fff;
    background-color: #0E0C0A ;
    border-radius: 20px;
    position: fixed;
    top: 1rem;
    left: 0.7rem;
    width: 98%;
    z-index: 5;
    border-bottom: 2px orangered solid;
    border-top: 2px orangered solid;
    transition: 0.4s;
}

.header:hover{
    box-shadow: 0 0 10px orangered;
}

.header a img {
    position: relative;
    left: 2.5rem;
    width: 200px;
}

.header nav {
    display: flex;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    height: 70%;
    align-items: center;
}

.header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: roboto , sans-serif;
    font-weight: 400;
    transition: 0.4s;
}

.header nav a:hover {
    position: relative;
    bottom: 0.1rem;
    color: orangered;    
}

.header .icons {
    display: flex;
    width: 10%;
}

.header .icons i {
    position: relative;
    right: 2.5rem;
    font-size: 30px;
    cursor: pointer;
    transition: 0.4s;
    margin: 0 1rem;
}

.header .icons i:hover{
    font-size: 25px;
    color: orangered;
}


/* ------------- Main 1  ------------*/
.main-1 {
    display: block;
    width: 100%;
    height: 710px;
    color: #fff;
    background: url(img/background.jpg);
    background-size: cover;
    border-radius: 20px;
    position: relative;
    top: 2rem;
}

.main-1:hover{
    box-shadow: 0 0 10px orangered;
}

.main-1 .main-1-content {
    display: inline-block;
    width: 50%;
    position: relative;
    left: 5rem;
}

.main-1 .main-1-content h1 {
    position: relative;
    top: 4rem;
    font-size: 60px;
    font-family: Protest Guerrilla;
}

.main-1 .main-1-content p {
    position: relative;
    top: 4rem;
    font-size: 18px;
    font-family: Roboto Slab;
    margin: 0;
    padding: 0;
}

.main-1 .main-1-content button {
    position: relative;
    top: 8rem;
    position: relative;
    bottom: -1.5rem;
    border: none;
    border-radius: 1px;
    width: 30%;
    height:40px;
    font-size: 18px;
    font-family: Roboto;
    background: orangered;
    color: #fff;
    transition: 0.4s;
}

.main-1 .main-1-content button:hover {
    background: transparent;
    border: 1.5px #fff solid;
    color: #fff;
    cursor: pointer;
}


/* ------------- Main 2 ------------*/
.main-2 {
    display: inline-block;
    position: relative;
    top: 3rem;
    width: 99%;
    height: 600px;
    color: #fff;
    background: #000000;
    border-radius: 20px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.main-2:hover{
    box-shadow: 0 0 10px orangered;
}

.main-2 .main-2-top {
    text-align: center;
    font-size: 25px;
    font-family: roboto , sans-serif;
    font-weight: 400;
}

.main-2 .main-2-top span {
    color: orangered;
}

.main-2 .main-2-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-2 .main-2-buttom img{
    position: relative;
    left: 1rem;
    border-radius: 20px; 
}

.main-2 .main-2-buttom .main-2-buttom-content{
    position: relative;
    left: 3rem;
}

.main-2 .main-2-buttom .main-2-buttom-content h3 {
    font-family: roboto , sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: orangered;
}

.main-2 .main-2-buttom .main-2-buttom-content p {
    font-size: 16px;
    font-family: Roboto Slab, sans-serif;
    width: 80%;
}

.main-2 .main-2-buttom .main-2-buttom-content button {
    position: relative;
    top: 1.5rem;
    position: relative;
    border: none;
    border-radius: 1px;
    width: 30%;
    height:40px;
    font-size: 18px;
    font-family: Roboto;
    background: orangered;
    color: #fff;
    transition: 0.4s;
}

.main-2 .main-2-buttom .main-2-buttom-content button:hover{
    background: transparent;
    border: 1.5px #fff solid;
    color: #fff;
    cursor: pointer;
}


/* ------------- Main - 3 ------------*/
.main-3 {
    display: inline-block;
    width: 100%;
    height: 800px;
    color: #fff;
    background: #000000;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    top: 4rem;
}

.main-3:hover{
    box-shadow: 0 0 10px orangered;
}

.main-3 .title {
    text-align: center;
    font-size: 25px;
    font-family: roboto , sans-serif;
    font-weight: 400;
    margin: auto;
}

.main-3 .title span{
    color: orangered;
}


.main-3 .products {
    position: relative;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: auto;
    height: 82%;
    grid-template-areas: 
    " p1 p2 p3"
    "p4 p5 p6";
    width: 80%;
    margin: auto;
}

.main-3 .products div[class^="product-"] {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: #0E0C0A;
    text-align: center;
    transition: 0.4s;
    border-radius: 10px;
}

.main-3 .products div[class^="product-"]:hover {
    width: 310px;
    height: 310px;
    box-shadow: 0 0 10px orangered;
}

.products .p-h3 {
    font-family: Roboto Slab, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.products .p-p {
    font-family: roboto,sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    margin-left: 1rem;  
}

.products .p-p span {
    font-family: roboto,sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #ff0000;
    text-decoration: line-through;
    margin-left: 1rem;
}

.main-3 .products img {
    width: 80px;
    height: 80px;
}

.main-3 .products .p-h3, .p-p, .p-b, .p-img {
    position: relative;
    top: 2.5rem;
}

.main-3 .products button {
    border: none;
    border-radius: 1px;
    width: 50%;
    height:30px;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 400;
    background: orangered;
    color: #fff;
    transition: 0.4s;
}

.main-3 .products button:hover {
    background: transparent;
    border: 1.5px #fff solid;
    color: #fff;
    cursor: pointer;
}


/* Just for Grid Display*/
.main-3 .products .product-1 {
    grid-area: p1;
}

.main-3 .products .product-2 {
    grid-area: p2;
}

.main-3 .products .product-3 {
    grid-area: p3;
}

.main-3 .products .product-4 {
    grid-area: p4;
}

.main-3 .products .product-5 {
    grid-area: p5;
}

.main-3 .products .product-6 {
    grid-area: p6;
}


/* ------------- Main - 4 menu ------------*/

.main-4 .title {
    text-align: center;
    font-size: 25px;
    font-family: roboto , sans-serif;
    font-weight: 400;
    margin: auto;
}

.main-4 {
    display: inline-block;
    width: 100%;
    height: 800px;
    color: #fff;
    background: #000000;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    top: 5rem;
}

.main-4:hover{
    box-shadow: 0 0 10px orangered;
}

.main-4 .title span{
    color: orangered;
}

.main-4 .latest-products {
    position: relative;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: auto;
    grid-gap: 10px;
    height: 82%;
    grid-template-areas: 
    " p1 p2 p3"
    "p4 p5 p6";
    width: 80%;
    margin: auto;
}

.main-4 .latest-products div[class^="product-"] {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 550px;
    background-color: #0E0C0A;
    text-align: center;
    transition: 0.4s;
    border-radius: 10px;
    margin: auto;
}

.main-4 .latest-products div[class^="product-"]:hover {
    width: 350px;
    height: 550px;
    box-shadow: 0 0 10px orangered;
}

.latest-products .icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    width: 60%;
    margin: auto;
    position: relative;
    top: 2.5rem;
}

.latest-products .icons i {
    font-size: 25px;
    color: orangered;
    transition: 0.4s;
    cursor: pointer;
    margin: 0; 
}

.latest-products .icons i:hover{
    font-size: 26px;
    color: #fff;
    padding: 4px;
    border: 1px #fff solid;
}

.latest-products .p-h3 {
    font-family: Roboto Slab, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.latest-products .p-p {
    font-family: roboto,sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    margin-left: 1rem;  
}

.latest-products .p-p span {
    font-family: roboto,sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #ff0000;
    text-decoration: line-through;
    margin-left: 1rem;
}

.main-4 .latest-products img {
    width: 200px;
    height: 200px;
}

.main-4 .latest-products .p-h3, .p-p, .p-b, .p-img, .stars{
    position: relative;
    top: 2.5rem;
}

.main-4 .latest-products button {
    border: none;
    border-radius: 1px;
    width: 50%;
    height:30px;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 400;
    background: orangered;
    color: #fff;
    transition: 0.4s;
}

.main-4 .latest-products button:hover {
    background: transparent;
    border: 1.5px #fff solid;
    color: #fff;
    cursor: pointer;
}

.main-4 .latest-products  .stars {
    color: orangered;
}


/* ------------- Main - 5 ------------*/
.main-5 {
    display: inline-block;
    width: 100%;
    height: 800px;
    color: #fff;
    background: #000000;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    top: 6rem;
}

.main-5 .title {
    text-align: center;
    font-size: 25px;
    font-family: roboto , sans-serif;
    font-weight: 400;
    margin: auto;
}

.main-5:hover{
    box-shadow: 0 0 10px orangered;
}

.main-5 .title span{
    color: orangered;
}

.main-5 .cm-reviews {
    position: relative;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: auto;
    grid-gap: 10px;
    height: 82%;
    grid-template-areas: 
    " p1 p2 p3"
    "p4 p5 p6";
    width: 80%;
    margin: auto;
}

.main-5 .cm-reviews div[class^="cm-"] {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 550px;
    background-color: #0E0C0A;
    text-align: center;
    transition: 0.4s;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 10px orangered;
}

.main-5:hover{
    box-shadow: 0 0 10px orangered;
}

.cm-reviews .bootmark i {
    position: relative;
    top: 2rem;
    font-size: 45px;
    color: orangered;
    transition: 0.4s;
    cursor: pointer;
    margin: 0; 
}

.cm-reviews .p-h3 {
    position: relative;
    top: 5rem;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.cm-reviews .p-p {
    position: relative;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    color: #fff; 
    width: 80%;
    margin: auto;
    font-family: Roboto Slab, sans-serif;
    top: 4rem;
}

.main-5 .cm-reviews img {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: 6rem;
}

.main-5 .cm-reviews .stars {
    position: relative;
    top: 4rem;
    color: orangered;
}


/* ------------- Main - 6 ------------*/
.main-6 {
    display: inline-block;
    width: 100%;
    height: 800px;
    color: #fff;
    background: #000000;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    top: 7rem;
}

.main-6:hover{
    box-shadow: 0 0 10px orangered;
}

.main-6 .title {
    text-align: center;
    font-size: 25px;
    font-family: roboto , sans-serif;
    font-weight: 400;
    margin: auto;
}

.main-6:hover{
    box-shadow: 0 0 10px orangered;
}

.main-6 .title span{
    color: orangered;
}

.main-6 .mapcontact {
    display: flex;
    width: 90%;
    height: 600px;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.mapcontact .map {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 45%;
    background-color: #0E0C0A;
    transition: 0.4s;
    box-shadow: 0 0 10px orangered;
    border: 2px orangered solid;
}

.mapcontact .map iframe {
    height: 95%;
    width: 95%;
    margin: auto;
    transition: 1s;
}

.mapcontact .map iframe:hover {
    height: 100%;
    width: 100%;
}


.mapcontact .contact {
    display: inline-block;
    text-align: center;
    width: 40%;
    height: 500px;
    background-color: #0E0C0A;
    border-radius: 20px;
    border: 1px orangered solid;
    box-shadow: 0 0 30px orangered;
}

.mapcontact .contact h3 {
    position: relative;
    font-size: 25px;
    font-family: roboto , sans-serif;
    font-weight: 500;
    margin: auto;
    color: #fff;
    top: 2rem;
}

.mapcontact .contact h3 span {
    color: orangered;
}

.mapcontact .contact form {
    display: inline-block;
    position: relative;
    height: 60%;
    width: 80%;
    top: 5rem;
}

.mapcontact .contact form input{
    position: relative;
    margin: 0.5rem auto;
    width: 80%;
    height: 3rem;
    background: transparent;
    border: 1px orangered solid;
    color: #fff;
    font-family: roboto,sans-serif;
    font-weight: 300;
    font-size: 18px;
    outline: none;
    padding-left: 15px;
}

.mapcontact .contact form input:hover {
    border: 1px #fff solid;
    box-shadow: 0 0 10px orangered;
}

.mapcontact .contact form button {
    position: relative;
    top: 1rem;
    border: none;
    border-radius: 1px;
    width: 50%;
    height:40px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    background: orangered;
    color: #fff;
}

.mapcontact .contact form button:hover {
    background: transparent;
    border: 1.5px #fff solid;
    color: #fff;
    cursor: pointer;
}


/* ------------- Footer ------------*/
.footer {
    display: grid;
    width: 100%;
    height: 200px;
    background-color: #0E0C0A;
    grid-template-areas: 
    "header header header header header"
    "header header header header header"
    "a a a a a"
    "a a a a a"
    "c c c c c"
    "c c c c c";
    align-items: center;
    position: relative;
    top: 8rem;
}

.footer .sociel-media {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
}

.footer .sociel-media i {
    color: #fff;
    font-size: 30px;
    margin: 1rem;
    transition: 0.4s;
}

.footer .sociel-media i:hover {
    color: orangered;
    font-size: 25px;
    cursor: pointer;
}

.footer .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: a;
    height: 3rem;
}

.footer .footer-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: roboto , sans-serif;
    font-weight: 400;
    margin: 0 1rem;
    transition: 0.5s;
}

.footer .footer-menu a:hover {
    position: relative;
    color: orangered;
    font-size: 18px;
    top: 0.3rem;
    border-bottom: 1px orangered solid;
    cursor: pointer;
}

.footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: c;
}

.footer .copyright p{
    color: #fff;
    font-family: roboto , sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.footer .copyright span{
    color: orangered;
    font-family: roboto , sans-serif;
    font-size: 16px;
    font-weight: 300;
}


